// @mixin flexCenter($direction, $background){
//   height: 100vh;  
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction:$direction;
//   background: $background;
// }

header{
  //@include flexCenter(column, red);

 background: rgb(134, 205, 223);
  height: 100vh;  
  color:$textColor;
  button{
    background: $primaryBtn;
    &::after{
        content: "Heloooooooooooooooo";
    }
  }
}