body {
  margin: 0;
  text-align: center;
}

.top-container {
  background-color: #CAF7E3;
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
}

.red {
  background-color: red;
  width: 200px;
  height: 200px;

}

.blue {
  background-color: blue;
  width: 200px;
  height: 200px;

}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}
}