<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Quiz</title>
    <link rel="stylesheet" href="/styles/main1.css" />
  </head>
  <body id="app">
    <div>
      <form class="container">
        <div><p>Total Score: 0</p></div>
        <h2 id="countryName">Country name:</h2>
        <input
          type="text"
          id="userInput"
          name="answer"
          placeholder="Enter the capital"
          autofocus
        />
        <button type="submit">Submit</button>
      </form>
    </div>
    <script>
      var wasCorrect = "Was correct";
    </script>
  </body>
</html>
